<rooms>
    <room>
        <id>1</id>
        <message>This is the starting room</message>
        <left>2</left>
        <right>16</right>
        <down>11</down>
    </room>
    <room>
        <id>2</id>
        <message>Welcome to the Plagueworks section room 1</message>
        <creatures>
            <creature>
                <name>Stinky</name>
                <health>100</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Volatile Ooze</name>
                <health>20</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Volatile Ooze</name>
                <health>20</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Volatile Ooze</name>
                <health>20</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>3</down>
        <right>1</right>
    </room>
    <room>
        <id>3</id>
        <message>No! You killed Stinky! You Pay!</message>
        <creatures>
            <creature>
                <name>Festergut</name>
                <health>300</health>
                <attack>30</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <down>4</down>
        <up>2</up>
    </room>
    <room>
        <id>4</id>
        <message>Welcome to the Plagueworks section room 3</message>
        <creatures>
            <creature>
                <name>Suppresser</name>
                <health>50</health>
                <attack>10</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>5</down>
        <up>3</up>
    </room>
    <room>
        <id>5</id>
        <message>WEEEEEE!</message>
        <creatures>
            <creature>
                <name>Rotface</name>
                <health>350</health>
                <attack>35</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <down>6</down>
        <up>4</up>
    </room>
    <room>
        <id>6</id>
        <message>Welcome to the Plagueworks section room 5</message>
        <creatures>
            <creature>
                <name>Spire Gargoyle</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Spire Gargoyle</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Spire Gargoyle</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Spire Gargoyle</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <right>7</right>
        <up>5</up>
    </room>
    <room>
        <id>7</id>
        <message>Two oozes, one room. So many delightful possibilities!</message>
        <creatures>
            <creature>
                <name>Professor Putricide</name>
                <health>500</health>
                <attack>50</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <down>8</down>
        <left>6</left>
    </room>
    <room>
        <id>8</id>
        <message>Welcome to the Plagueworks section room 7</message>
        <creatures>
            <creature>
                <name>Suppresser</name>
                <health>50</health>
                <attack>10</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <right>9</right>
        <up>7</up>
    </room>
    <room>
        <id>9</id>
        <message>Welcome to The Frozen Throne</message>
        <down>10</down>
        <up>15</up>
        <right>25</right>
        <left>8</left>
    </room>
    <room>
        <id>10</id>
        <message>Arthas! The blood of your father, of your people, demands justice! Come forth, coward, and answer for your crimes!</message>
        <creatures>
            <creature>
                <name>The Lich King</name>
                <health>1000</health>
                <attack>100</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <up>9</up>
    </room>
    <room>
        <id>11</id>
        <message>Welcome to the entrance to Icecrown Citadel room 1</message>
        <creatures>
            <creature>
                <name>Fetid Scraps</name>
                <health>30</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Fetid Scraps</name>
                <health>30</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Fetid Scraps</name>
                <health>30</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <up>1</up>
        <down>12</down>
    </room>
    <room>
        <id>12</id>
        <message>Feast, my minions!</message>
        <creatures>
            <creature>
                <name>Deathbringer Saurfang</name>
                <health>400</health>
                <attack>40</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <right>13</right>
        <up>11</up>
    </room>
    <room>
        <id>13</id>
        <message>Welcome to the entrance to Icecrown Citadel room 2</message>
        <creatures>
            <creature>
                <name>Skeletal Soldier</name>
                <health>40</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Skeletal Soldier</name>
                <health>40</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Skeletal Soldier</name>
                <health>40</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <up>14</up>
        <down>15</down>
        <left>12</left>
    </room>
    <room>
        <id>14</id>
        <message>Welcome to the entrance to Icecrown Citadel room 3</message>
        <creatures>
            <creature>
                <name>Ancient Skeletal Soldier</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Ancient Skeletal Soldier</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Ancient Skeletal Soldier</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>13</down>
    </room>
    <room>
        <id>15</id>
        <message>Welcome to the entrance to Icecrown Citadel room 4</message>
        <creatures>
            <creature>
                <name>Deathbound Ward</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathbound Ward</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathbound Ward</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>9</down>
        <up>13</up>
    </room>
    <room>
        <id>16</id>
        <message>Welcome to the Crimson Hall room 1</message>
        <creatures>
            <creature>
                <name>Skeletal Soldier</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Skeletal Soldier</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Skeletal Soldier</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <right>17</right>
        <left>1</left>
    </room>
    <room>
        <id>17</id>
        <message>Welcome to the Crimson Hall room 1</message>
        <creatures>
            <creature>
                <name>Cult Fanatic</name>
                <health>40</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Cult Adherent</name>
                <health>40</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Cultist Shard Watcher</name>
                <health>40</health>
                <attack>2</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>18</down>
        <left>16</left>
    </room>
    <room>
        <id>18</id>
        <message>Welcome to the Crimson Hall room 1</message>
        <creatures>
            <creature>
                <name>Captain Arnath</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Captain Brandon</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Captain Brandon</name>
                <health>50</health>
                <attack>3</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>19</down>
        <up>17</up>
    </room>
    <room>
        <id>19</id>
        <message>This ends NOW!</message>
        <creatures>
            <creature>
                <name>Blood-Queen Lana'thel</name>
                <health>400</health>
                <attack>40</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <right>20</right>
        <up>18</up>
    </room>
    <room>
        <id>20</id>
        <message>Welcome to the Frostwing Halls room 1</message>
        <creatures>
            <creature>
                <name>Dark Nucleus</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Dark Nucleus</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Dark Nucleus</name>
                <health>30</health>
                <attack>1</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <right>21</right>
        <down>22</down>
        <left>19</left>
    </room>
    <room>
        <id>21</id>
        <message>Welcome to the Frostwing Halls room 2</message>
        <creatures>
            <creature>
                <name>Deathspeaker Disciple </name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathspeaker Disciple </name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathspeaker Disciple </name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <left>20</left>
    </room>
    <room>
        <id>22</id>
        <message>Welcome to the Frostwing Halls room 3</message>
        <creatures>
            <creature>
                <name>Deathspeaker Zealot</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathspeaker Zealot</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Deathspeaker Zealot</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <down>23</down>
        <left>24</left>
        <up>20</up>
    </room>
    <room>
        <id>23</id>
        <message>Welcome to the Frostwing Halls room 4</message>
        <creatures>
            <creature>
                <name>Faceless Lurker</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Faceless Lurker</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Faceless Lurker</name>
                <health>60</health>
                <attack>5</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <up>22</up>
    </room>
    <room>
        <id>24</id>
        <message>Can you feel the cold hand of death upon your heart?</message>
        <creatures>
            <creature>
                <name>Sindragosa</name>
                <health>500</health>
                <attack>50</attack>
                <isBoss>true</isBoss>
            </creature>
        </creatures>
        <down>25</down>
        <right>22</right>
    </room>
    <room>
        <id>25</id>
        <message>Welcome to the Frostwing Halls room 5</message>
        <creatures>
            <creature>
                <name>Frostwarden Warrior</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Frostwarden Warrior</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
            <creature>
                <name>Frostwarden Warrior</name>
                <health>50</health>
                <attack>4</attack>
                <isBoss>false</isBoss>
            </creature>
        </creatures>
        <left>9</left>
        <up>24</up>
    </room>
</rooms>